body{
    background-color:  rgb(237, 248, 248);
}
#title{
    border-bottom: 2px solid black;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:0;
    background-color: rgb(1, 73, 73);
    height:10%;
    }

#t{
    width:100%;
   
}

#l{
    text-align: right;   
}
h1{
    color:white;
    text-shadow: 0 0 10px black, 0 0 5px black;
}

/* Navigation */
.nav{
    overflow:hidden;
    background-color: rgb(86, 109, 109);
    margin-top:0.2%;
    border-bottom: 3px solid black;

}
.nav a{
    float:left;
    color:white;
    font-weight:600;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:18px;
    
}
.nav a.active{
    color:white;
    background-color:rgb(5, 143, 143);
    

}
.nav a:hover{
    color:black;
    background-color:#ddd;
    border: 1px solid black;

}

