
#title{
    border-bottom: 2px solid black;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:0;
    background-color: rgb(2, 84, 84);
}
body{
 background-color:  rgb(237, 248, 248);
}
h3{
    color:white;
    text-shadow: 0 0 10px black, 0 0 5px black;
}
#logo{
        margin-left: 90%;
}

#t{
    width:100%;
}
td{
    width:50%;
}
#t2{
    margin-left: 0;
    width:100%;
    /* border: 1px solid black; */
    
}
#op{
    width:33%;
    border: 1px solid black;

}
#stu,#cmp,#plc{
    height:30px;
    font-size: larger;
}

/* Navigation */
.nav{
    overflow:hidden;
    background-color: rgb(86, 109, 109);
    margin-top:0.2%;
    border-bottom: 3px solid black;
    height:25px;
    padding:0px;

}
.nav a{
    float:left;
    color:white;
    font-weight:600;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:18px;
    padding-top:0px;    
}
.nav a.noti{
    float:right;
    color:white;
    font-weight:600;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:18px;
    padding-top:0px;
    /* border:2px solid yellow;
    border-color: rgb(197, 197, 56);  */
}
.nav a.active{
    color:white;
    background-color:rgb(5, 143, 143);

}
.nav a.archived{
    background-color:rgb(199, 204, 204);
    float:right;
    color:black;
    font-weight:600;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:18px;
    padding-top:0px;
}
.nav a:hover{
    color:black;
    background-color:#ddd;
    border: 1px solid black;

}

