#title{
    border-bottom: 2px solid black;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:0;
    background-color: rgb(2, 153, 153);
}
#logo{
        margin-left: 90%;
}
#t{
    width:100%;
}
td{
    width:50%;
}
#t2{
    margin-left: 0;
    width:100%;
    border: 1px solid black;
    
}
#op{
    width:33%;
    border: 1px solid black;

}
#stu,#cmp,#plc{
    height:30px;
    font-size: larger;
}
