#title{
    border-bottom: 2px solid black;
    margin-top:0%;
    margin-left: 0%;
    padding-top:10px;
    padding-bottom:10px;
    position:fixed;
    height:20px;
    width: 100%;
    position: fixed;
    background-color: rgb(2, 153, 153);
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold; 
    z-index:-1;
}
#photo{
    margin-top:4.9%;
    margin-left:76%;
    height:200px;
    width:200px;
    position: fixed;
    border:2px solid black;
}
#p{
    height:200px;
    width: 200px;
}
#data{
    margin-top:0px;
    margin-left:2px;
    border:2px solid black;
    height:300;
    width:70%;
    /* position:relative; */
}
#h{
    padding-top: 1px;
    padding-left: 3px;
    padding-bottom:1px;
}
#d{
    
    width:70%;
    border-collapse: collapse;
    border:2px solid black;
    margin-top:-240px;
}
th{
    width:20%;
    text-align: left;
    background-color: rgb(4, 66, 70);
    color:white;
    border-bottom:2px solid white;
    font-weight:200;
}
#sr,#name,#c,#addr,#email,#dob,#m_scc,#tm_ssc,#p_scc,#y_scc,#b_ssc,#m_hsc
,#tm_hsc,#p_hsc,#year_hsc,#b_hsc,#m_bachelor,#tm_bachelor,#p_bachelor
,#y_bachelor,#deg_bachelor,#uni_bachelor,#m_master,#tm_master,#p_master
,#y_master,#deg_master,#uni_master,#l_entry,#remarks
{
    padding-left:5px;

}
td{
    border:2px solid black;
}
td,th{
    height:5px;
   
    font-size:20px;
   
}
#pd{
    
    height:30px;
    width:69.5%;
    padding-bottom: 0%;
    border:2px solid black;
    background-color: rgb(4, 66, 70);
    color: white;
    font-variant: small-caps;
    margin-top:5%;
}
#ed{
    border:2px solid black;
    background-color: rgb(4, 66, 70);
    color: white;
    font-variant: small-caps;
    margin-top:17%;
    width:69.5%;
    margin-left: 0%;
    
    /* position: relative;    */
}
#edud{
    width:70%;
    border-collapse: collapse;
    border:2px solid black;
    margin-top:66px;
    margin-left:-2px;
    /* position:relative; */
}
#edudata{
    margin-top:20%;
    margin-left:-2px;
    border:2px solid black;
    height:400;
    width:70%;
    /* position:relative; */
    /* overflow: scroll; */
}
#details{
    margin-top:0;
    height:100%;
    overflow: scroll;
    /* scrollbar-base-color: black ; */
    width:100%;
    position:fixed;
    z-index:1;
    
}
