#title{
    border-bottom: 2px solid black;
    margin-top:0px;
    padding-top:10px;
    padding-bottom:0;
    background-color: rgb(2, 153, 153);
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
#option{
    border: 2px solid rgb(2, 59, 86);
    border-radius: 2px;
}
#t{
    width:100%;
}
#op{
    width:33%;
    /* border: 1px solid black; */
    height:30px;
    font-size:x-large;
}
#ind,#rub,#batch,#program,#submit{
    height:30px;
    width:100px;
    font-size: large;
}